<?xml version="1.0"?>
<!-- Guidebot differential drive base -->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="holonomic_base.gazebo.xacro"/>

  <xacro:include filename="../wheels/holonomic/wheel_assembly.urdf.xacro"/>

  <!-- Constants -->
  <xacro:property name="M_PI" value="3.1415926535897931"/>

  <!-- Base footprint offset -->
  <xacro:property name="base_footprint_height_offset" value="0.19"/> <!-- old value 0.19 -->

  <!-- Inertia -->
  <xacro:macro name="cylinder_inertia" params="m r h">
    <inertia ixx="${m*(3*r*r+h*h)/12}" ixy="0" ixz="0" iyy="${m*(3*r*r+h*h)/12}" iyz="0" izz="${m*r*r/2}"/>
  </xacro:macro>

  <xacro:macro name="box_inertia" params="m x y z">
    <inertia ixx="${m*(y*y+z*z)/12}" ixy="0" ixz="0" iyy="${m*(z*z+x*x)/12}" iyz="0" izz="${m*(x*x+y*y)/12}"/>
  </xacro:macro>

  <!-- Base -->
  <xacro:macro name="base">
    <!-- Base -->

    <link name="base_link">

      <visual>
        <origin xyz="0 0 0.04" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.2" radius="0.3"/>
        </geometry>
        <material name="blue"/>
      </visual>

      <collision>
        <origin xyz="0 0 0.04" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.2" radius="0.3"/>
        </geometry>
        <material name="orange"/>
      </collision>

      <!-- TODO: update according to real base properties -->
      <inertial>
        <mass value="10.0" />
        <origin xyz="0 0 0" />
        <cylinder_inertia m="10.0" r="0.3" h="0.2" />
      </inertial>

    <!--
      <inertial>
        <origin xyz="-0.00000106 0.00000109 0.0000387" rpy="0 0 0"/>
        <mass value="15.0"/>
        <inertia ixx="0.465408937" ixy="0.002160024" ixz="-0.001760255" iyy="0.483193291" iyz="-0.000655952" izz="0.550939703"/>
      </inertial>
   -->
    </link>

    <!-- Base footprint -->
    <link name="base_footprint">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.3"/>
        </geometry>
        <material name="orange"/>
      </collision>
    </link>

    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 ${base_footprint_height_offset}" rpy="0 0 0"/>
      <parent link="base_footprint"/>
      <child link="base_link"/>
    </joint>

    <!-- Macros -->
    <xacro:wheel_assembly suffix="fl" rot_axis="1">
      <origin xyz="${caster_offset_x} ${caster_offset_y} 0.0" rpy="0 0 0"/>
    </xacro:wheel_assembly>
    <xacro:wheel_assembly suffix="fr" rot_axis="-1">
      <origin xyz="${caster_offset_x} -${caster_offset_y} 0.0" rpy="0 0 0"/>
    </xacro:wheel_assembly>
    <xacro:wheel_assembly suffix="bl" rot_axis="1">
      <origin xyz="-${caster_offset_x} ${caster_offset_y} 0.0" rpy="0 0 0"/>
    </xacro:wheel_assembly>
    <xacro:wheel_assembly suffix="br" rot_axis="-1">
      <origin xyz="-${caster_offset_x} -${caster_offset_y} 0.0" rpy="0 0 0"/>
    </xacro:wheel_assembly>

    <!-- Gazebo extentions -->
    <base_gazebo/>

  </xacro:macro>

</robot>
