<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="base_gazebo">
    <gazebo reference="base_link">
      <material>Gazebo/SkyBlue</material>
    </gazebo>

    <gazebo reference="base_footprint">
      <kinematic>true</kinematic>
    </gazebo>

  </xacro:macro>

  <gazebo>

    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>mobile_base_controller/cmd_vel</commandTopic>
      <odometryTopic>/ground_truth_odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>ground_truth_frame</robotBaseFrame>
    </plugin>

<!--
    <plugin name="object_controller" filename="libgazebo_ros_force_based_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>/odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>base_footprint</robotBaseFrame>
    </plugin>
 -->

  </gazebo>

</robot>
