<launch>
  <!-- Arguments -->
  <!-- <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/> -->
  <arg name="cmd_vel_topic" default="/nav_vel" />
  <arg name="odom_topic" default="odom" />

  <arg name="base" default="$(env DYNO_BASE)"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->

    <rosparam file="$(find dyno_navigation)/config/move_base/move_base_common_params.yaml" command="load" />

    <rosparam file="$(find dyno_navigation)/config/move_base/$(arg base)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find dyno_navigation)/config/move_base/$(arg base)/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find dyno_navigation)/config/move_base/$(arg base)/move_base_params.yaml" command="load" />
    <rosparam file="$(find dyno_navigation)/config/move_base/$(arg base)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find dyno_navigation)/config/move_base/$(arg base)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find dyno_navigation)/config/move_base/$(arg base)/global_planner_params.yaml" command="load" />
    <rosparam file="$(find dyno_navigation)/config/move_base/$(arg base)/local_planner_params.yaml" command="load" />

    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>

</launch>
