<launch>
  <arg name="robot_name" default="dyno_client"/>
  <arg name="zeroconf" default="false"/>
  <arg name="rosbridge_port" default="9090"/>

  <arg name="base" default="$(env DYNO_BASE)"/>

  <group if="$(eval base == 'quadrotor')">
    <include file="$(find dyno_bringup)/launch/concert_client.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="zeroconf" value="$(arg zeroconf)"/>
      <arg name="rosbridge_port" value="$(arg rosbridge_port)"/>
      <arg name="rapp_package_whitelist" value="[dyno_common_rapps, dyno_quadrotor_rapps]"/>
    </include>
  </group>

  <group if="$(eval base != 'quadrotor')">
    <include file="$(find dyno_bringup)/launch/concert_client.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="zeroconf" value="$(arg zeroconf)"/>
      <arg name="rosbridge_port" value="$(arg rosbridge_port)"/>
      <arg name="capabilities_parameters" value="$(find dyno_bringup)/param/$(arg base)_capability_providers.yaml" />
    </include>
  </group>

</launch>
