<launch>
  <arg name="base" default="$(env DYNO_BASE)"/>

  <include file="$(find dyno_description)/launch/load_robot_description.launch"/>

  <!-- Send fake joint values -->
  <node name="joint_state_publihser" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>

  <!-- Publish joint states on tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dyno_viz)/rviz/show_robot.rviz"/>

</launch>
