<launch>

  <!-- Zeroconf -->
  <arg name="zeroconf" default="true"/>

  <!-- ****************************** Concert ******************************** -->
  <include file="$(find dyno_unity)/launch/concert.launch">
    <arg name="zeroconf" value="$(arg zeroconf)"/>
  </include>

  <!-- ****************************** Dev Tools ******************************** -->

  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dyno_viz)/rviz/forklift_concert.rviz"/>

  <!-- Start rqt -->
  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>
</launch>
