<launch>

 	<!-- Dyno world state interface -->
  <node name="rosplan_world_state_interface" pkg="dyno_planning" type="world_state_interface"/>

	<!-- ROSPlan -->
	<include file="$(find dyno_planning)/launch/interfaced_planning_system.launch" >
		<arg name="domain_path"		value="$(find dyno_planning)/pddl/domain_quadrotor_deliver_parcels.pddl" />
	</include>

	<!-- movebase interface -->

	 <node name="rp_deliver_parcels_action" pkg="dyno_planning" type="quadrotor_deliver_parcel_action"/>

</launch>
