<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="scanse_leddarvu_gazebo" params="name link ros_topic update_rate min_angle max_angle min_range max_range">
    <gazebo reference="${link}">
      <sensor type="ray" name="${name}">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>${update_rate}</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>${1075/update_rate}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <!-- TODO: measure sensor noise and update -->
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.03</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_${name}_controller" filename="libgazebo_ros_laser.so">
          <topicName>${ros_topic}</topicName>
          <frameName>${link}</frameName>
          <update_rate>${update_rate}</update_rate>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
