<launch>
  <!-- Mock -->
  <!-- <include file="$(find py_trees_ros)/launch/mock_robot.launch"/> -->
  <node pkg="py_trees_ros" name="move_base" type="mock_component" args="move_base.MoveBase">
      <param name="duration" value="5" />
  </node>

  <!-- World State -->
  <include file="$(find dyno_world_state)/launch/simple.launch"/>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find dyno_localization)/maps/quadrotor.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Web interface bridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <!-- Tree -->
  <include file="$(find dyno_behaviours)/launch/drone_parcel_delivery.launch"/>

  <!-- Viz -->
  <node pkg="rqt_py_trees" name="rqt_py_trees" type="rqt_py_trees"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dyno_viz)/rviz/test_drone_parcel_delivery.rviz"/>
</launch>
