<launch>
  <arg name="use_sim_time" default="true"/>

  <arg name="robot_name" default="dyno_client"/>
  <arg name="zeroconf" default="false"/>
  <arg name="rosbridge_port" default="9090"/>

  <arg name="base" default="$(env DYNO_BASE)"/>

  <!-- set use_sim_time flag -->
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <include file="$(find dyno_bringup)/launch/bringup.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="zeroconf" value="$(arg zeroconf)"/>
    <arg name="rosbridge_port" value="$(arg rosbridge_port)"/>
  </include>

  <!-- Config -->
  <rosparam file="$(find dyno_unity)/config/joint_limits.yaml" command="load"/>

  <!-- Base spesific stuff -->
  <group if="$(eval base == 'forklift')">
    <!-- Driver/intreface and simulation time -->
    <node name="forklift_unity_hardware_interface" pkg="dyno_unity" type="forklift" output="screen"/>
  </group>

  <group if="$(eval base == 'quadrotor')">
    <!-- Simulation time -->
    <node name="utity_clock_sync" pkg="dyno_unity" type="clock_sync"/>
    <!-- <node name="utity_clock" pkg="dyno_unity" type="clock"/> -->

    <!-- TODO: publish actual height with height sensor, instaid of using with odom? -->
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_broadcaster"  args="0 0 0 0 0 0 base_footprint base_link 20"/>

    <node name="odom_broadcaster" pkg="dyno_unity" type="odom_tf_broadcaster"/>

  </group>

</launch>
