<launch>
  <arg name="configuration_basename" value="cartographer_depth_camera_3d.lua"/>

  <param name="/use_sim_time" value="true"/>

  <node
    name="cartographer_node"
    pkg="cartographer_ros"
    type="cartographer_node"
    args="
          -configuration_directory
              $(find dyno_hsr_localization)/config/cartographer
          -configuration_basename $(arg configuration_basename)"
    output="screen">
    <remap from="points2" to="/points"/>
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.035"/>

  <node name="flat_world_imu_node" pkg="cartographer_turtlebot" type="cartographer_flat_world_imu_node" output="screen">
    <remap from="imu_in" to="/hsrb/base_imu/data"/>
    <remap from="imu_out" to="/imu"/>
  </node>

  <node name="dropper" pkg="topic_tools" type="drop" args="/hsrb/head_rgbd_sensor/depth_registered/image_rect_raw 1 2"/>

  <node pkg="nodelet" type="nodelet" name="image_processing_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="metricizer" args="load depth_image_proc/convert_metric image_processing_manager">
    <remap from="image_raw" to="/hsrb/head_rgbd_sensor/depth_registered/image_rect_raw_drop"/>
    <remap from="image" to="/image_rect"/>
  </node>

  <!--
  <node pkg="nodelet" type="nodelet" name="rectifier" args="load image_proc/rectify image_processing_manager">
    <remap from="image_mono" to="/image"/>
    <remap from="camera_info" to="/hsrb/head_rgbd_sensor/depth_registered/camera_info"/>
    <remap from="image_rect" to="/image_rect"/>
  </node>
   -->
  <node pkg="nodelet" type="nodelet" name="cloudifier" args="load depth_image_proc/point_cloud_xyz image_processing_manager">
    <remap from="camera_info" to="/hsrb/head_rgbd_sensor/depth_registered/camera_info"/>
    <remap from="image_rect" to="/image_rect"/>
    <!--
    <remap from="points" to="/points2"/>
     -->
  </node>
<!--
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find cartographer_turtlebot
          )/configuration_files/demo_turtlebot.rviz"/>
 -->
</launch>
