<launch>
  <arg name="cmd_vel_out" default="/mobile_base_controller/cmd_vel"/>

  <arg name="config_locks"  default="$(find dyno_control)/config/twist_mux/twist_mux_locks.yaml"/>
  <arg name="config_topics" default="$(find dyno_control)/config/twist_mux/twist_mux_topics.yaml"/>

  <arg name="base" default="$(env DYNO_BASE)"/>

  <!-- Gazebo -->
  <include file="$(find dyno_gazebo)/launch/simulation.launch"/>

  <!-- Controller -->
  <!--
  <remap from="/mobile_base_controller/odom" to="/odom"/>
   -->
  <node name="odom_relay" pkg="topic_tools" type="relay"
          args="/mobile_base_controller/odom /odom"/>

  <group if="$(env DYNO_USE_ROS_CONTROL_FOR_BASE)">
    <include file="$(find dyno_control)/launch/base_controllers.launch"/>
  </group>

  <!-- Publish joint states on tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dyno_viz)/rviz/test_navigation.rviz"/>

  <!-- Teleop -->
  <include file="$(find dyno_teleop)/launch/joy.launch"/>

  <!-- Twist mux -->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
    <remap from="cmd_vel_out" to="$(arg cmd_vel_out)"/>
    <rosparam file="$(arg config_locks)"  command="load"/>
    <rosparam file="$(arg config_topics)" command="load"/>
  </node>


  <!-- Navigation -->
  <include file="$(find dyno_navigation)/launch/move_base.launch"/>

  <!-- Localization -->
  <include file="$(find dyno_localization)/launch/cartographer_base_lidar_mapping.launch"/>

</launch>
